@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="contact-form-overlay-mini" class="clearfix" style="float: left">

    <div class="fancy-title title-dotted-border">
        <h2>Change Password</h2>
        <span style="color:red"> @ViewBag.Error</span>
        <span style="color:green"> @ViewBag.Success</span>
    </div>

    <div id="contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

    <!-- Contact Form
                    ============================================= -->
    @*<form class="nobottommargin" id="template-contactform" name="template-contactform" action="/Home/Index" method="post">*@
    @using (Html.BeginForm())
    {

        <div class="clear"></div>

        <div class="col_full">
            <label for="template-contactform-phone">Current Password</label>

            <input type="password" id="CurrentPwd" name="CurrentPwd" value="" class="sm-form-control" required/>
        </div>
        <div class="col_full">
            <label for="template-contactform-phone">New Password</label>

            <input type="password" id="NewPwd" name="NewPwd" value="" class="sm-form-control" required/>
        </div>

        <div class="col_full">
            <label for="template-contactform-service">Confirm Password</label>
            <input type="password" id="ConfirmPwd" name="ConfirmPwd" value="" class="sm-form-control" required/>
        </div>
        
        <div class="col_full">
            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Submit</button>
        </div>
         
    }
</div>
