@{
    ViewBag.Title = "AskForLogin";
}
@section featured
{
    <section id="page-title">

        <div class="container clearfix">
            <h1>My Account</h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Login</li>
            </ol>

        </div>
        <div class="container clearfix">
        <a href="/Home/MakePayment" class="button button-3d fright">Continue as Guest</a>
            </div>
    </section>
}

<div class="col_one_third nobottommargin">
    
    <div class="well well-lg nobottommargin">
        <form id="login-form" name="login-form" class="nobottommargin" action="/Home/Login" method="post">

            <h3>Login to your Account</h3>
            
            <div class="col_full">
                <label for="login-form-username">Username:</label>
                <input type="text" id="username" name="username" value="" class="required form-control input-block-level" required />
            </div>

            <div class="col_full">
                <label for="login-form-password">Password:</label>
                <input type="password" id="password" name="password" value="" class="required form-control input-block-level" required />
            </div>

            <div class="col_full nobottommargin">
                <button class="button button-3d nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                <a href="/Home/ForgotPassword" class="fright">Forgot Password?</a>
                @ViewBag.ErrorLogin
            </div>

        </form>
    </div>

</div>

<div class="col_two_third col_last nobottommargin">


    <h3>Don't have an Account? Register Now.</h3>

    <p>@ViewBag.Message</p>

    <form id="register-form" name="register-form" class="nobottommargin" action="/Home/Register" method="post">

        <div class="col_half">
            <label for="register-form-name">User Name:</label>
            <input type="text" id="username" name="username" value="" class="required form-control input-block-level" required/>
        </div>

        <div class="col_half col_last">
            <label for="register-form-email">Email Address:</label>
            <input type="text" id="email" name="email" value="" class="required form-control input-block-level" required/>
        </div>

        <div class="clear"></div>
         

        <div class="col_half col_last">
            <label for="register-form-phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="" class="required form-control input-block-level" required/>
        </div>

        <div class="clear"></div>

        <div class="col_half">
            <label for="register-form-password">Choose Password:</label>
            <input type="password" id="password" name="password" value="" class="required form-control input-block-level" required/>
        </div>

        <div class="col_half col_last">
            <label for="register-form-repassword">Re-enter Password:</label>
            <input type="password" id="repassword" name="repassword" value="" class="required form-control input-block-level" required/>
        </div>

        <div class="clear"></div>

        <div class="col_full nobottommargin">
            <button class="button button-3d nomargin" id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
        </div>

    </form>


</div>
