<html xmlns="http://www.w3.org/1999/xhtml">
<head><title></title></head>
<body>  
    <br />
    <div style="border-top: 3px solid #22BCE5">&nbsp;</div>
    <span style="font-family: Arial; font-size: 10pt">Hi,<br />
        <br />
        Below are your details as requested:<br />
        <br />
        User Name : {Name}
        <br />
        Password : {Password}
        <br />
         
        <br />
        <br />
        <br /> 
        <br />
        <br />
        Thanks<br />
        Eload.sg
    </span>
</body>
</html>
